<h1>Tournoi </h1>

<h2>Liste des tournois prévus </h2>

<div class="table-responsive-xl">
    <table class="table">
        <th>test</th>
        <th>test</th>
        <th>test</th>
        <th>test</th>
        <tr>
            <td>oui 1 </td>
            <td>oui 2</td>
            <td>oui 3</td>
            <td>oui 4</td>
        </tr>
    </table>
</div>

<h1>Your lucky number is {{ number }}</h1>